---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Search from "@components/Search";
import { SEARCH } from "@consts";
import { filterPublishedEntries } from "@lib/content";

const posts = filterPublishedEntries(await getCollection("blog"));

const projects = filterPublishedEntries(await getCollection("projects"));

const data = [...posts, ...projects] as CollectionEntry<"blog">[];
---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION} footerSize="xl">
  <TopLayout size="xl">
    <div class="animate page-heading">
      {SEARCH.TITLE}
    </div>
  </TopLayout>
  <BottomLayout size="xl">
    <div class="animate">
      <Search client:load data={data} />
    </div>
  </BottomLayout>
</PageLayout>
